{%extends "base.html"%}
{% block title %}Home page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Road Map for Students in Pakistan</title>
</head>
<body>
	<h1>Road Map for Students in Pakistan</h1>
	<h2>
		{{content}}
	</h2>
	
	<h2>Secondary Level</h2>
<ul>
	<li>Focus on building a strong foundation in all subjects, especially mathematics, English, and science.</li>
	<li>Explore extracurricular activities to find interests and hobbies.</li>
	<li>Begin thinking about potential career paths.</li>
</ul>

<h2>Higher Secondary Level</h2>
<ul>
	<li>Choose a field of study based on interests and strengths.</li>
	<li>Prepare for university entrance exams, such as the SAT and ACT.</li>
	<li>Participate in volunteer work and internships to gain experience.</li>
</ul>

<h2>Bachelor's Program</h2>
<ul>
	<li>Choose a major based on career goals and interests.</li>
	<li>Participate in extracurricular activities, internships, and research opportunities.</li>
	<li>Prepare for graduate school or the job market.</li>
	<ul>
		<li>Research potential graduate programs and requirements.</li>
		<li>Network with alumni and professionals in your desired field.</li>
		<li>Gain experience through internships and research projects.</li>
	</ul>
</ul>

<h2>Master's Program</h2>
<ul>
	<li>Choose a program that aligns with career goals.</li>
	<li>Complete coursework and research projects.</li>
	<li>Consider pursuing a PhD or entering the job market.</li>
</ul>

<h2>PhD's Program</h2>
<ul>
	<li>Choose a program and advisor that align with research interests.</li>
	<li>Complete coursework and research projects.</li>
	<li>Prepare for a career in academia, research, or industry.</li>
</ul>
	
</body>
</html>
{% endblock %}